/* Utility styles */

.centered {
	margin: auto;
}

.clear {
	clear: both;
}

/* Site styles */

body {
	background-color: #000000;
}

#page {
  margin: 0px auto 32px auto;
	width: 960px;
	background-color: #888888;
	color: #ffffff;
}

#content {
	padding: 32px;
}

/* Test styles */

.banner {
  width: 640px;
  height: 225px;
}

.control-panel {
  padding: 32px;
  text-align: center;
}

.social-buttons {
  border-bottom: 2px solid #cc0000;
  margin-bottom: 16px;
}

.social-button {
  clear: both;
  margin-bottom: 16px;
}
