/* Element Styles */

body {
  background-color: #ffffff;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* Layout Styles */

#Page {
  margin: 0px auto;
  width: 480px;
}

.Column {
  width: 320px;
}

.LeftColumn label,
.RightColumn label {
  float: left;
}

.LeftColumn input,
.RightColumn input {
  float: right;
}

.LeftColumn input,
.RightColumn input {
  width: 196px;
}

.Field {
  margin-bottom: 8px;
}

.Select label,
.Select select {
  float: left;
  margin-right: 10px;
  display: inline;
}

#BanyanPower {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 264px;
  height: 24px;
  background-image: url(../images/banyan-power.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

#BanyanPower a {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 264px;
  height: 24px;
}

#Footer {
  margin-bottom: 32px;
}

.Clearing {
  clear: both;
  height: 0px;
}

/* Font Styles */

.error {
 color: red;
 font-weight: bold;
 list-style-type: none;
}

.RequiredField {
  font-weight: bold;
  color: red;
}